.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*padding: 6rem;*/
  min-height: 100vh;
}

.bar1Bg{
  width: 100vw;
  height: 100vh;
  background: url("../../public/背景.png");
  background-size: 100vw 100vh;
  padding-left: 18.75vw;
  padding-top: 21vh;
  position: relative;
  /*background-color: #515357;*/
}

.bar1BgText1{
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 28px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  display: flex;
}

.bar1BgText2{
  font-family: PangMenZhengDao, PangMenZhengDao;
  font-weight: 400;
  font-size: 5.18vh;
  text-align: left;
  font-style: normal;
  text-transform: none;
  color: #FFFFFF;
  background: linear-gradient(180deg, #FFFFFF 0%, #515357 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-top: 0.5vh;
}

.bar1BgText3{
  font-family: PingFang SC, PingFang SC;
  font-weight: 600;
  font-size: 4.07vh;
  color: #2DFAA5;
  line-height: 5vh;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-top: 0.5vh;
}

.bar1BgText4{
  font-family: PingFang SC, PingFang SC;
  font-weight: 600;
  font-size: 4.07vh;
  line-height: 5vh;
  text-align: left;
  font-style: normal;
  text-transform: none;
  background: linear-gradient(180deg, #515357 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-top: 1vh;
}

.bar1BgBarBox{
  display: flex;
  margin-top: 16vh;
}

.bar1BgBarBoxImg{
  width: 8.79vh;
  height: 6.48vh;
  background: url("../../public/组 131.png");
  background-size:8.79vh 6.48vh;
}

.bar1BgBarBoxtext{
  margin-left: 3vh;
  width: 60vh;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #9D9D9D;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.bar1BgRightImg{
  width: 80.5vh;
  height: 75vh;
  background: url("../../public/主体.png");
  background-size: 80.5vh 75vh;
  position: absolute;
  top: 10vh;
  right: 8vw;
}

.barDownLoadBg{
  width: 52.4vh;
  height: 6.3vh;
  background: rgba(255,255,255,0.8);
  border-radius: 8px 8px 8px 8px;
  align-self: flex-end;
  /*margin-left: 15vh;*/
  z-index: 1;
  display: flex;
  align-items: center;
  padding-left: 2vh;
}

.barDownLoadBgLogo{
  height: 3.7vh;
  width: 3.7vh;
  background: url("../../public/app/组 133625@2x.png");
  background-size: 3.7vh 3.7vh;
  margin-right: 2vh;
}

.barDownLoadBgTitle1{
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 2vh;
  color: #060606;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.barDownLoadBgTitle2{
  font-family: PingFang TC, PingFang TC;
  font-weight: 400;
  font-size: 1vh;
  color: #858585;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.barDownLoadBgBox{
  height: 3.7vh;
  width: 12vh;
  background-color: #060606;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2vh;
}

.barDownLoadBgBoxLogo1{
  height: 2vh;
  width: 2vh;
  background: url("../../public/app/容器@2x.png");
  background-size: 2vh 2vh;
}
.barDownLoadBgBoxLogo2{
  height: 2vh;
  width: 2vh;
  background: url("../../public/app/容器1@2x.png");
  background-size: 2vh 2vh;
}

.barDownLoadBgBoxLogo1Text{
  margin-left: 1vh;
  font-family: PingFang TC, PingFang TC;
  font-weight: 500;
  font-size: 1.5vh;
  color: #FFFFFF;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.bar2Bg{
  width: 100vw;
  /*height: 100vh;*/
  background: url("../../public/en/容器 133445@2x.webp");
  background-size: 100vw ;
  padding-top: 8vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar2BgLeft{

  width: 68.51vh;
  height: 59.25vh;
  background: url("../../public/en/容器 133446.png");
  background-size: 68.51vh 59.25vh;

}

.bar2BgText{
  font-family: PingFang SC, PingFang SC;
  font-weight: 600;
  font-size: 3.7vh;
  text-align: left;
  font-style: normal;
  text-transform: none;
  background: linear-gradient(180deg, #FFFFFF 0%, #515357 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-top: 1vh;
  display: flex;
}

.bar2BgTextu1{
  font-family: PingFang SC, PingFang SC;
  font-weight: 600;
  font-size: 3.7vh;
  text-align: left;
  font-style: normal;
  color: #2DFAA5;
}

.bar2BgText1{
  font-family: PingFang SC, PingFang SC;
  font-weight: 600;
  font-size: 3.7vh;
  text-align: left;
  font-style: normal;
  text-transform: none;
  background: linear-gradient(180deg, #515357 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-top: 1vh;
}

.bar2BgText2{
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #9D9D9D;
  line-height: 32px;
  text-align: justify;
  font-style: normal;
  text-transform: none;
  margin-top: 1vh;
}

.bar2BgTextBtn{
  width: 187px;
  height: 40px;
  margin-top: 4vh;
  background: #2DFAA5;
  border-radius: 12px 12px 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PingFang TC, PingFang TC;
  font-weight: 500;
  font-size: 17px;
  color: #060606;
  line-height: 24px;
  text-align: right;
  font-style: normal;
  text-transform: none;
  cursor: pointer;
}

.bar2BgTextBtnImg{
  width: 20px;
  height: 20px;
  background: url("../../public/en/容器.png");
  background-size: 20px 20px;
}

.bar2Bgbar1{
  display: flex;
  margin-top: 1vh;
}

.bar2Bgbar1Img{
  width: 20px;
  height: 20px;
  background: url("../../public/en/星形 1@2x.png");
  background-size: 20px 20px;
}

.bar3Bg{
  width: 100vw;
  background: url("../../public/en/容器 133485@2x.png");
  background-size: cover;
  padding: 10vh 10vw;
  padding-top: 21vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: #1ff688;*/
}

.bar3BgTxt1{
  font-family: PingFang TC, PingFang TC;
  font-weight: 600;
  font-size: 3.7vh;
  color: #FFFFFF;
  text-align: left;
  font-style: normal;
  text-transform: none;
  display: flex;
  align-items: center;
}

.bar3BgTxt2{
  font-family: PingFang TC, PingFang TC;
  font-weight: 600;
  font-size:  3.7vh;
  color: #2DFAA5;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.bar3BgTxt3{
  font-family: PingFang TC, PingFang TC;
  font-weight: 600;
  font-size:  3.7vh;
  color: rgba(0,0,0,0.2);
  text-align: left;
  font-style: normal;
  text-transform: none;
  background: linear-gradient(180deg, #FFFFFF 0%, #515357 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bar3BgBar{
  width: 55vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /*background-color: #1FF688;*/
}

.bar3BgBarText1{
  font-family: PingFang SC, PingFang SC;
  font-weight: 600;
  font-size:  3.7vh;
  text-align: left;
  font-style: normal;
  text-transform: none;
  background: linear-gradient(180deg, #515357 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1vh;
}
.bar3BgBarText2{
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 1.4vh;
  color: #9D9D9D;
  line-height: 32px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.bar3BgBottomBar{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 5vh;
  height: 45vh;
}

.bar3BgBottomBarBox1{
  width: 37vh;
  height: 38vh;
  /*background: url("../../public/en/矩形 175@2x.png");*/
  background: radial-gradient( 0% 95% at -69% 38%, #343734 0%, #0F1112 100%);
  /*border: 2px solid;*/
  /*border-color: rgba(255, 255, 255, 0.33000001311302185);*/
  /*border-image: linear-gradient(136deg, rgba(255, 255, 255, 0.33000001311302185), rgba(255, 255, 255, 0)) 2 2;*/
  padding: 2vh 2vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.bar3BgBottomBarBox1on{
  width: 37vh;
  height: 45vh;
  background-color: rgba(187, 255, 25, 1);
  padding: 2vh 2vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../public/组 133452.png");
}

.bar3BgBottomBarBox1onImg1{
  width: 30vh;
  height: 30vh;
  background: url("../../public/pro/容器 133614@2x.png");
  background-size: 30vh 30vh;
}

.bar3BgBottomBarBox1onImg2{
  width: 30vh;
  height: 30vh;
  background: url("../../public/pro/容器 1336141@2x.png");
  background-size: 30vh 30vh;
}

.bar3BgBottomBarBox1onImg3{
  width: 30vh;
  height: 30vh;
  background: url("../../public/pro/容器 1336142@2x.png");
  background-size: 30vh 30vh;
}

.bar3BgBottomBarBox1onImg1Text{
  font-family: PingFang TC, PingFang TC;
  font-weight: 500;
  font-size: 2vh;
  color: #060606;
  line-height: 3vh;
  text-align: center;
  font-style: normal;
  text-transform: none;
}


.bar3BgBottomBarBox2{
  width: 37vh;
  height: 38vh;
  /*background: url("../../public/en/矩形 175@2x.png");*/
  background: radial-gradient( 0% 95% at -69% 38%, #343734 0%, #0F1112 100%);
  /*border: 2px solid;*/
  /*border-color: rgba(255, 255, 255, 0.33000001311302185);*/
  /*border-image: linear-gradient(136deg, rgba(255, 255, 255, 0.33000001311302185), rgba(255, 255, 255, 0)) 2 2;*/
  padding: 2vh 2vh;
  /*border-top-left-radius: 10px;*/
  /*border-bottom-left-radius: 10px;*/
}
.bar3BgBottomBarBox2on{
  width: 37vh;
  height: 45vh;
  /*background: url("../../public/en/矩形 175@2x.png");*/
  /*background-color: rgba(187, 255, 25, 1);*/
  padding: 2vh 2vh;
  /*border-top-left-radius: 10px;*/
  /*border-bottom-left-radius: 10px;*/
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../public/组 133452.png");
}



.bar3BgBottomBarBox3{
  width: 37vh;
  height: 38vh;
  /*background: url("../../public/en/矩形 175@2x.png");*/
  background: radial-gradient( 0% 95% at -69% 38%, #343734 0%, #0F1112 100%);
  /*border: 2px solid;*/
  /*border-color: rgba(255, 255, 255, 0.33000001311302185);*/
  /*border-image: linear-gradient(136deg, rgba(255, 255, 255, 0.33000001311302185), rgba(255, 255, 255, 0)) 2 2;*/
  padding: 2vh 2vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bar3BgBottomBarBox3on{
  width: 37vh;
  height: 45vh;
  /*background: url("../../public/en/矩形 175@2x.png");*/
  /*background-color: rgba(187, 255, 25, 1);*/
  padding: 2vh 2vh;
  border-radius: 10px;
  /*border-bottom-right-radius: 10px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../public/组 133452.png");
}



.bar3BgBottomBarImg1Text1{
  font-family: PingFang SC, PingFang SC;
  font-weight: 600;
  font-size: 2vh;
  color: #2DFAA5;
  line-height: 34px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.bar3BgBottomBarImg1Text2{
  margin-top: 2vh;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 1vh;
  color: #9D9D9D;
  line-height: 2vh;
  text-align: left;
  font-style: normal;
  text-transform: none;
}



.bar3BgBottomBarImg2{
  width: 400px;
  height: 491px;
  background: url("../../public/en/组 133452@2x.png");
  background-size: 400px 491px;
  border-radius: 30px;
}


.bar3BgBottomBarImg3{
  width: 400px;
  height: 420px;
  background: url("../../public/en/矩形 175@2x.png");
  background-size: 400px 420px;
  border-radius: 30px;
  padding: 24px 24px;
}


.bar4Bg{
  width: 100vw;
  background: url("../../public/en/容器 133486@2x.png");
  background-size: cover;
  padding-top: 21vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar4BgText1{
  font-family: PingFang TC, PingFang TC;
  font-weight: 600;
  font-size: 3.7vh;
  text-align: left;
  font-style: normal;
  text-transform: none;
  background: linear-gradient(90deg, #515357 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bar4BgText2{
  font-family: PingFang TC, PingFang TC;
  font-weight: 600;
  font-size:  3.7vh;
  color: #2DFAA5;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.bar4BgText3{
  font-family: PingFang TC, PingFang TC;
  font-weight: 600;
  font-size:  3.7vh;
  text-align: left;
  font-style: normal;
  text-transform: none;
  background: linear-gradient(90deg, #FFFFFF 0%, #515357 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bar4BgText4{
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #9D9D9D;
  line-height: 32px;
  text-align: center;
  font-style: normal;
  text-transform: none;
}

.bar4BgBottomBar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.bar4BgBottomBarText{
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #9D9D9D;
  line-height: 32px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.bar4BgBottomBarImg{
  width: 652px;
  height: 377px;
  background: url("../../public/组 149.png");
  background-size: cover;
  margin-left: 2vh;
}

.bar5Bg{
  width: 100vw;
  height: 33.88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar5BgText1{
  font-family: PingFang TC, PingFang TC;
  font-weight: 600;
  font-size: 40px;
  color: #FFFFFF;
  line-height: 56px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  display: flex;
  align-items: center;
}
.bar5BgText2{
  font-family: PingFang TC, PingFang TC;
  font-weight: 600;
  font-size: 40px;
  color: #2DFAA5;
  line-height: 56px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.bar5BgText3{
  font-family: PingFang TC, PingFang TC;
  font-weight: 600;
  font-size: 40px;
  color: rgba(0,0,0,0.2);
  line-height: 56px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  background: linear-gradient(180deg, #FFFFFF 0%, #515357 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bar6Bg{
  width: 100vw;
  height: 35vh;
  background: url("../../public/en/蒙版组 20@2x.png");
  background-size: 100vw 35vh;
  padding-left: 18.75vw;
  padding-top: 21vh;
  position: relative;
}

.bar1BgMobile,.bar2BgMobile,.bar3BgMobile,.bar4BgMobile,.bar5BgMobile{
  display: none;
}

@media  (min-width: 300px) and (max-width: 1025px)  {
  .bar1Bg {
    width: 100vw;
    height: 80vh;
    padding: 0;
    background-position: center;
    /*background-color: #1FF688;*/
  }
  .bar1BgRightImg{
    width: 343px;
    height: 80vh;
    background: url("../../public/主体.png") no-repeat;
    background-size: contain;
    top: 210px;
    left: 50%;
    transform: translate(-50%);
  }
  .bar1BgText1 {
    width: 303px;
    font-size: 14px;
    position: absolute;
    top: 57px;
    left: 50%;
    color: #FFFFFF;
    /*background-color: #FFFFFF;*/
    transform: translate(-50%);
    line-height: 20px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    display: flex;
    flex-wrap: nowrap;
  }
  .bar1BgText2 {
    width: 345px;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    top: 81px;
    left: 50%;
    transform: translate(-50%);
  }
  .bar1BgText3{
    width: 345px;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 120px;
    left: 50%;
    /*background-color: #FFFFFF;*/
    transform: translate(-50%);
  }
  .bar1BgText4 {
    width: 345px;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 164px;
    left: 50%;
    transform: translate(-50%);
  }
  .bar1BgBarBox, .bar2BgText2, .bar2Bgbar1, .bar2BgLeft {
    display: none;
  }
  .bar2Bg {
    padding-top: 10px;
  }
  .bar2BgText {
    width: 343px;
    text-align: center;
    margin: 0 auto;
    font-size: 26px;
    display: flex;
  }
  .bar2BgTextu1 {
    /*width: 200px;*/
    text-align: left;
    /*margin: 0 auto;*/
    font-size: 26px;
    /*display: none;*/
  }
  .bar2BgTextu11 {
    display: inline;
    margin-left: 5px;
    color: #2DFAA5;
  }
  .bar2BgText1 {
    width: 343px;
    text-align: right;
    margin: 0 auto 24px;
    font-size: 16px;
  }
  .descGroup {
    width: 343px;
    height: 386px;
    background: url('../../public/desc-group.png') no-repeat;
    background-size: contain;
    margin: 0 auto;
    display: block;
  }
  .bar2BgTextBtn{
    width: 125px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
  }
  .bar3Bg {
    padding: 36px 0;
  }
  .bar3BgTxt1, .bar3BgBarText1, .bar3BgBottomBar, .bar4BgText4, .bar4BgBottomBarText, .bar5Bg {
    display: none;
  }
  .bar3BgBar {
    display: block;
  }
  .bar3BgBarText0 {
    width: 343px;
    margin: 0 auto;
    display: block;
    color: #9D9D9D;
    font-size: 16px;
  }
  .bar3BgBarText2 {
    width: 343px;
    margin: 0 auto;
    font-size: 16px;
  }
  .mobileBgBottomBar {
    width: 343px;
    height: 481px;
    background: url('../../public/demo-device.png') no-repeat;
    background-size: contain;
    margin: 24px auto;
    display: block;
  }
  .bar4Bg {
    padding-top: 0;
  }
  .bar4BgText1, .bar4BgText2, .bar4BgText3 {
    font-size: 16px;
    margin: 0 auto;
  }
  .bar4BgBottomBarImg {
    width: 343px;
    height: 198px;
    margin: 0 auto;
  }
  .bar6Bg {
    padding: 0;
  }
  .bar6Bg {
    width: 375px;
    height: 220px;
    background: url('../../public/mobile-btm.png') no-repeat;
    background-size: contain;
    margin: 28px auto 37px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*padding: 6rem;*/
    /*min-height: 100vh;*/
    /*background-color: #0AB2E9;*/
  }
  .bar1Bg {
    display: none;
  }
  .bar2Bg{
    display: none;
  }
  .bar3Bg{
    display: none;
  }
  .bar4Bg{
    display: none;
  }
  .bar5Bg{
    display: none;
  }
  .bar6Bg{
    display: none;
  }

  .bar1BgMobile{
    display: inline;
    height: 535px;
    width: 100vw;
    background: url("../../public/mobile/背景.png") no-repeat;
    background-size: 100vw;
    /*background-color: #0AB2E9;*/
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 58px;
  }

  .bar1BgMobile .Title1{
    width: 300px;
    height: 30px;
    color: #FFFFFF;
    display: flex;
  }

  .bar1BgMobile .Title2{
    color: #FFFFFF;
    font-family: PangMenZhengDao, PangMenZhengDao;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    text-transform: none;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FFFFFF 0%, #515357 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  .bar1BgMobile .Title3{
    font-family: PingFang SC, PingFang SC;
    font-weight: 600;
    font-size: 16px;
    color: #2DFAA5;
    text-align: left;
    font-style: normal;
    text-transform: none;
  }
  .bar1BgMobile .Title4{
    font-family: PingFang SC, PingFang SC;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    background: linear-gradient(180deg, #515357 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }


  .bar2BgMobile{
    display: inline;
    height: 560px;
    width: 100vw;
    background: url("../../public/mobile/容器 133445 (1).png") no-repeat;
    background-size: 100vw;
    /*background-color: #BBFF19;*/
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
  }

  .bar2BgMobile .Title1{
    /*width: 100vw;*/
    background-color: #FFFFFF;
    font-family: PingFang SC, PingFang SC;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /*text-align: right;*/
    font-style: normal;
    text-transform: none;
    background: linear-gradient(180deg, #515357 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    display: flex;
    justify-content: flex-end;


  }

  .bar2BgMobile .Title2{
    font-size: 16px;
    color: #2DFAA5;
    background: #2DFAA5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
  }

  .bar2BgMobile .Title3{
    font-family: PingFang SC, PingFang SC;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    font-style: normal;
    text-transform: none;
    background: linear-gradient(180deg, #515357 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    /*margin-top: 1vh;*/
    display: flex;
    justify-content: flex-end;
  }
  .bar2BgMobile .img1{
    width: 343px;
    height: 386px;
    background: url("../../public/mobile/组 134538.png") no-repeat;
    margin-top: 10px;
  }

  .bar2BgMobile .btn{
    width: 125px;
    height: 36px;
    border-radius: 10px;
    background-color:#2DFAA5;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000000;
    font-size: 12px;
  }

  .bar2BgMobile .btn .img{
    width: 16px;
    height: 16px;
    background: url("../../public/en/容器.png") no-repeat;
    background-size:contain;
    margin-left: 5px;
  }

  .bar3BgMobile{
    display: inline;
    width: 100vw;
    /*background-color: #BBFF19;*/
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 24px;
  }

  .bar3BgMobile .Title1{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    display: flex;
  }

  .bar3BgMobile .Title2{
    color: #2DFAA5;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
  }

  .bar3BgMobile .Title3{
    font-size: 16px;
    text-align: right;
    font-style: normal;
    text-transform: none;
    background: linear-gradient(180deg, #515357 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
  }

  .bar3BgMobile .Title4{
    font-size: 16px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    background: linear-gradient(180deg, #515357 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bar3BgMobile .img1{
    width: 343px;
    height: 481px;
    background: url("../../public/mobile/组 134539@2x.png") no-repeat;
    background-size: contain;
    margin-top: 24px;
  }

  .bar4BgMobile{
    display: inline;
    width: 100vw;
    /*background-color: #BBFF19;*/
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 24px;
  }

  .bar4BgMobile .Title1{
    font-size: 16px;
    text-align: center;
    font-style: normal;
    text-transform: none;
    background: linear-gradient(180deg, #515357 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
  }

  .bar4BgMobile .Title2{
    color: #2DFAA5;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
  }

  .bar4BgMobile .Img{
    height: 203px;
    width: 345px;
    background: url("../../public/mobile/组 149@2x.png") no-repeat;
    background-size: contain;
    margin-top: 24px;
  }

  .bar5BgMobile{
    display: inline;
    width: 100vw;
  }

  .bar5BgMobile .Img1{
    height: 220px;
    width: 375px;
    background: url("../../public/mobile/组 134540@2x.png");
    background-size: contain;
    margin-top: 24px;
  }

}
